<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>News Board</title>
		</head>
	<body>

		<h1>News Board</h1>

		<table border="1" style="border-collapse: collapse;">
			<tr>
				<th>ID</th>
				<th>Title</th>
			</tr>

			<% for(var i = 0; i < news.length; i++){ %>

				<tr>
					<td><%= news[i].news_id %></td>
					<td><%= news[i].title %></td>
				</tr>
			<% } %>
		</table>

	</body>
</html>